# PORTAS
PORT_WEB=80
PORT_SPRING=8080
PORT_MYSQL=3306

# BANCO DE DADOS (MYSQL)
MYSQL_DATABASE=checkout_db
MYSQL_ROOT_PASSWORD=root_senha_segura
MYSQL_USER=user
MYSQL_PASSWORD=mysqlsenha

# CREDENCIAIS DO PAINEL ADMIN
APP_USER=admin
APP_PASS=123456

# MERCADO PAGO E URLs
BASE_URL_SPRING=https://seudominio:8080/
MP_PUBLIC_KEY=
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=